html,body, main {
	height:100%;
	overflow: hidden;
	font-family: amboy-black,sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
}

button {
	width: 90px;height: 35px;
	font-family: amboy-black,sans-serif;
	font-size: 0.8em;
	font-style: normal;
	color: honeydew;
	padding: 0;margin: 0;
	border-radius:25px;
}

h1 {
	font-size: 1.8em;
	color: #8d2d2d;
}

#main {
	width: 100%;
	height: 100%;
	position: relative;
    overflow: hidden;
}

#selector {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/background.png);
	background-size:cover;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#animalSelecter {
	width: 40%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

#animal1Selecter, #animal2Selecter, #animal3Selecter {
	font-weight:normal;
}

#gameFrame{
	width: 100%;height: 100%; 
	background-image: url(../img/background.png);
	background-size:cover;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#voice {
	position:absolute;
	top: 20px;
	left: 20px;
	width: 30px;
	height: 30px;
}

#headTitle{
	width: 300px;height: 147px;
	background-image: url(../img/head.png);
	position: absolute; 
	left: 40%; top: 30%;
}

#headCharacter{
	float:right;
	margin-top: 50px;
}

#startBtn{
	width: 90px;height: 35px;
	padding: 0;
	margin-top: 40px;
	position: absolute;
	left: 48%;top: 50%;
	background-image: url(../img/green.png);
	background-size: cover;
}

#bottomLand1{
	height: 193px;width: 2100px;
	background-image: url(../img/banner.png);
	position: absolute;top: 80%;
	z-index: 3;
}

#bottomLand2{
	height: 193px;width: 2100px;
	background-image: url(../img/banner.png);
	position: absolute;top: 80%;left: 2100px;
	z-index: 3;
}

#score{
	position:absolute;
	left: 130px;
	top:50px;
	z-index: 1;
}

#score div{
	height: 39px;
	width: 28px;
	float: left;
	background-image: url(../img/0.png);
	background-size:100% 100%;
	display: none;
}

#tips{
	padding: 5px;
	position: relative;
	margin: auto;
	margin-top:13%;
	text-align: center;
	overflow:auto;
	width: 30%;
	height: 40%;
	background:yellowgreen;
	display: none;
	border: 3px solid whitesmoke;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	z-index: 2;
}


#tips h1 {
	font-size: 1.5em;
	color: lavender;
}

#tips p {
	text-align:left;
	text-indent:10px;
	font-family: 'Times New Roman', Times, serif;
}


#gameOver{
	position: absolute;
	top: 25%;
	left: 43%;
	text-align: center;
	display: none;
	z-index: 1;
}

#message{
	width: 200px;
	height: 200px;
	background-image: url(../img/message.png);
	background-repeat: no-repeat;
}

#thisScore{
	color: brown;
	font-weight: bold;
	position: absolute;
	top: 148px;
	left: 139px;
}

#historyScore{
	color: brown;
	font-weight: bold;
	position: absolute;
	top: 174px;
	left: 139px;
}

#animal2 {
	visibility: hidden;
}

#animal3 {
	visibility: hidden;
}

#selectorSubmit {
	background-image: url(../img/submit.png);
	background-size: cover;
}

#replay {
	background-image: url(../img/submit.png);
	background-size: cover;
}

#close {
	margin-left: 30px;
	background-image: url(../img/purple.png);
	background-size: cover;
}

#more {
	background-image: url(../img/blue.png);
	background-size: cover;
}